body{
    font-family: 'Lora', ;
}
.logo{
    background-image: url('../images/h_img.jpg');
    font-size: 30px;
    background-position: cover;
}
.services{
    background-image: url('../images/s_image.jpg');
    color: white;
    opacity: unset;
}
.contacts{
    background-image: url('../images/c_image.jpg');
}
body{
    text-align: center;
}
.logo{
    color:white;
}
.sss{
    display: none;
}
.kkk{
    display: none;
}
.bbb{
    display: none;
}
#name{
    background: transparent;
color: white;
}
#email{
    background: transparent;
color: white;
}
#message{
    background: transparent;
    color: white;
}
.contacts{
    color: white;
    text-align: center;
}
 .portfolio{
    padding: 30px;
    justify-content: space-between;
    margin: 2px;

}
.sub{
     text-align: center;
     color: white;
     background-color:transparent;
     border: none;
     font-size: 20px;
     padding: right 30%;
} 
 .overlay1 ,.overlay2, .overlay3, .overlay4 ,.overlay5, .overlay6, .overlay7, .overlay8 {
    display:none;
    background-color: white;
    opacity: 0.8;
    
    font-size: 50px;
    height: 200px;
    width: 200px;
     position: absolute;
     top: 50%;
    left:50%; 
     transform: translate(-50%, -50%); 
    text-align: center;
} 
 